//- コンポーネント - 画像コンポーネント01
.c-halfSet02
	.block
		&.is-text
			position relative
			width calc(100% - 20px)
			margin -20px auto 0
			padding 20px
			background-color #EFEFEF
			box-sizing border-box
			z-index 1

	.area
		margin-bottom 10px
		&:last-child
			margin-bottom 0
		&.is-sub
			fontSize(12)