// /* DEFAULT_VARIABLE */

//break point
PC_RES_WID01 = 1000px
SP_RES_WID01 = 768px

//font
DF_FONT = "ヒラギノ角ゴ ProN W3", 'Hiragino Kaku Gothic ProN', "游ゴシック", YuGothic, "游ゴシック体", "メイリオ", sans-serif
DF_FONT_MIN = "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;

//color
DF_BG_COLOR = #FFF //背景色
DF_TEXT_COLOR = #333 //テキスト色

DF_SELECT_BG_COLOR = #F00 //選択時 背景色
DF_SELECT_TEXT_COLOR = #FFF //選択時 テキスト色
DF_URL_TEXT_COLOR = #337FC5 //選択時 テキスト色

POINT_COLOR01 = #326073
POINT_COLOR02 = #dfe5eb

SITE_COLOR01 = #333333
SITE_COLOR02 = #EFEFEF
SITE_COLOR03 = #555555

SITE_BG01 = #FFF

