mixin c-mainvisualSet01
	.c-mainvisualSet01
		.slideArea.js-mainvisualSet01
			.slide
				+m-imageSet01({imageTag:"p", imageUrl: 'https://placeimg.com/960/500/animals'})
			.slide
				+m-imageSet01({imageTag:"p", imageUrl: 'https://placeimg.com/960/500/animals'})
			.slide
				+m-imageSet01({imageTag:"p", imageUrl: 'https://placeimg.com/960/500/animals'})