mixin l-columnBlock(tg)
	-
		var op = {
			tag:       tg.tag ? tg.tag : "div",
			baseName:  tg.baseName ? tg.baseName : "l-columnBlock",
			className: tg.className ? tg.className : ""
		}
	#{op.tag}( class = op.baseName + " " + op.className )
		block