mixin c-footer01
	footer.c-footer01
		.navBlock
			+l-contentsWidth({tag:"div"})
				nav.footerNav
					+l-colSet01({className: "is-five"})
						+m-list01({url:"#", text:"ナビゲーション"})
							.childNav
								ul
									+m-list01({url:"#", text:"子ナビ"})
									+m-list01({url:"#", text:"子ナビ"})
									+m-list01({url:"#", text:"子ナビ"})
									+m-list01({url:"#", text:"子ナビ"})
									+m-list01({url:"#", text:"子ナビ"})
						+m-list01({url:"#", text:"ナビゲーション"})
							.childNav
								ul
									+m-list01({url:"#", text:"子ナビ"})
									+m-list01({url:"#", text:"子ナビ"})
									+m-list01({url:"#", text:"子ナビ"})
									+m-list01({url:"#", text:"子ナビ"})
						+m-list01({url:"#", text:"ナビゲーション"})
							.childNav
								ul
									+m-list01({url:"#", text:"子ナビ"})
									+m-list01({url:"#", text:"子ナビ"})
									+m-list01({url:"#", text:"子ナビ"})
									+m-list01({url:"#", text:"子ナビ"})
						+m-list01({url:"#", text:"ナビゲーション"})
							.childNav
								ul
									+m-list01({url:"#", text:"子ナビ"})
									+m-list01({url:"#", text:"子ナビ"})
									+m-list01({url:"#", text:"子ナビ"})
									+m-list01({url:"#", text:"子ナビ"})
						+m-list01({url:"#", text:"ナビゲーション"})
							.childNav
								ul
									+m-list01({url:"#", text:"子ナビ"})
									+m-list01({url:"#", text:"子ナビ"})
									+m-list01({url:"#", text:"子ナビ"})
									+m-list01({url:"#", text:"子ナビ"})
		.copyBlock
			+l-contentsWidth({tag:"div"})
				p copyright xxxxxxxxxxxxxxxxxxxxxxx