//- コンポーネント - 画像+テキストコンポーネント02
.c-fixedHalfSet02
	PADDING = 20px

	&.is-contentsLeft
		+MQ_MIN(SP_RES_WID01)
			.block
				&.is-fixed
					float right
					padding-left PADDING

	&.is-contentsRight
		+MQ_MIN(SP_RES_WID01)
			.block
				&.is-fixed
					float left
					padding-right PADDING
	
	&>.group
		&.is-before
			margin-bottom 30px
		&.is-primary
			+MQ_MIN(SP_RES_WID01)
				CF()
		&.is-after
			margin-top 30px
			
			
		.block
			&.is-fixed
				+MQ_MAX(SP_RES_WID01)
					width 100%
					margin-bottom 10px
					padding 0
			
			&.is-text
				width 100%
		

		.area
			margin-bottom 10px
			&.is-btn
				min-width 300px
				+MQ_MAX(SP_RES_WID01)
					min-width 0
				.com-btn
					margin-bottom 10px
					&:last-child
						margin-bottom 0
			&:last-child
				margin-bottom 0
			&.is-sub
				fontSize(12)
			
			.com-image
				img
					+MQ_MAX(SP_RES_WID01)
						width 100%