mixin c-templateHeader01
	header.c-templateHeader01
		+l-contentsWidth({tag:"div"})
			.group.is-primary
				.block.is-logo
					h1.logo
						span カラダはwebでできている
				
				.block.is-nav
					nav
						ul
							li
								a(href="/index.html")
									span TOP
							li
								a(href="/manual/")
									span MANUAL
							li
								a(href="/module/")
									span MODULE
							li
								a(href="/component/")
									span COMPONENT
							li
								a(href="/javascript/")
									span JAVASCRIPT