mixin m-inputTextArea01(tg)
	-
		var op = {
			tag:         tg.tag ? tg.tag : "div",
			id:          tg.id ? tg.id : "",
			name:        tg.name ? tg.name : "",
			placeholder: tg.placeholder ? tg.placeholder : "入力して下さい",
			baseName:    tg.baseName ? tg.baseName : "m-inputTextArea01",
			className:   tg.className ? tg.className : ""
		}
	
	#{op.tag}( class = op.baseName + " " + op.className )
		textarea(name=op.name id= op.id placeholder= op.placeholder)