.c-newsSet02
	li
		display flex
		flex-wrap wrap
		
		&:nth-of-type(odd)
			a
				background-color #f2f2f2

	.titleBlock
		width 170px
		display flex
		flex-wrap wrap
		aline-items center
		padding-top 3px
		+MQ_MAX(SP_RES_WID01)
			width 100%

	.textBlock
		width calc(100% - 170px)
		+MQ_MAX(SP_RES_WID01)
			width 100%
	
	a
		display flex
		flex-wrap wrap
		position relative
		width 100%
		padding 15px 40px 15px 15px
		color inherit
		text-decoration none
		
		&:hover
			.moduleInner
				text-decoration none

	.date
		color inherit
		text-decoration none
		fontSize(13)
		font-weight bold

	.tag
		display table
		width 50px
		margin-left 8px
		border 1px solid #ccc
		fontSize(11)
		text-align center

	.text
		.moduleWrapper
			&:after
				position absolute
				top 50%
				right 10px
				transform translate3d(0, -50%, 0)
		.moduleInner
			color DF_URL_TEXT_COLOR
			text-decoration underline