include _c_btn/_c_btn
include _c_qanda/_c_qanda
include _c_header/_c_header
include _c_footer/_c_footer
include _c_mainvisual/_c_mainvisual
include _c_news/_c_news
include _c_form/_c_form
include _c_column/_c_column 