mixin c-newsSet01
	.c-newsSet01
		dl
			dt.titleBlock
				p.date 2019/12/01
				p.tag タグ
			dd.textBlock.m-iconSet
				p.text
					a(href=".pdf")
						span.moduleWrapper
							span.moduleInner テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります
			dt.titleBlock
				p.date 2019/12/01
				p.tag タグ
			dd.textBlock.m-iconSet
				p.text
					a(href=".doc")
						span.moduleWrapper
							span.moduleInner テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります
			dt.titleBlock
				p.date 2019/12/01
				p.tag タグ
			dd.textBlock.m-iconSet
				p.text
					a(href="")
						span.moduleWrapper
							span.moduleInner テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります