.m-bgBtn01
	a
		display block
		color SITE_BG01
		background-color SITE_COLOR01
		border 1px solid SITE_COLOR01
		text-decoration none

	.moduleWrapper
		display block
		position relative
		padding 20px 40px 20px 20px
		box-sizing border-box
		&:after
			position absolute
			top 50%
			right 10px
			transform translate3d(0, -50%, 0)