extends /_include/_template/_t_base_template

block vars
	-
		var pageOption = {
			KEY: "2020_sotsugyouomedetou",
			URL: '',
			RELATIVE_PATH: '',
			TITLE: '',
			DESCRIPTION: '',
			KEYWORDS: '',
			HEADER: false,
			FOOTER: false,
			SIDE: false,
		}
block contents
	.c-arcanoidSet01
		.canvasBlock
			canvas(id="arcanoid" width="1000" height="750")