.c-memoSet01
	opacity 0.2
	transition 0.3s all ease
	+MQ_MAX(SP_RES_WID01)
		display none
	&:hover
		opacity 1.0
	.group
		margin-bottom 20px
		&.is-primary
			display none
		&.is-current
			display block
	.area
		margin-bottom 10px
		
		&:last-child
			margin-bottom 0

		&.is-code
			padding 10px 20px
			color #333
			background-color #f6f7f9
			fontSize(11)
			code
				color #333
				background-color #f6f7f9
		
		.title
			font-weight bold
		.tab
			display flex
			border-bottom 1px solid #DFDFDF
			li
				cursor pointer
				margin-right 5px
				padding 5px 10px
				color #FFF
				background-color #666
				border-radius 5px 5px 0 0
				fontSize(10)
				font-weight bold
				line-height 1.0

				&.is-current
					color #333
					background-color #DFDFDF