.c-bgContentsSet02
	
	&.is-center
		.contentsArea
			align-items center

	&>.group
		&.is-before
			margin-bottom 30px
		&.is-primary
			position relative
		&.is-after
			margin-top 30px

		.block
			&.is-bg
				width 100%
				min-height 400px
			&.is-contents
				display flex
				flex-flow column
				justify-content center
				position absolute
				top 0
				left 0
				width 100%
				height 100%
				padding 20px
				box-sizing border-box
				
		.area
			margin-bottom 10px
			&:last-child
				margin-bottom 0
			&.is-image
				position absolute
				top 0
				left 0
				width 100%
				height 100%
				background-position center center
				background-repeat no-repeat
				background-size cover

			&.is-btn
				.com-btn
					margin-bottom 10px
					display table
					min-width 300px
					&:last-child
						margin-bottom 0