//- mixin
mixin c-bgContentsSet02(tg)
	-
		var op = {
			tag:       tg.tag ? tg.tag : "div",
			baseName:  tg.baseName ? tg.baseName : "c-bgContentsSet02",
			className: tg.className ? " " + tg.className : " " + "is-contentsLeft",
			before: tg.before ? tg.before : false,
			after: tg.after ? tg.after : false,
		}
	
	#{op.tag}( class = op.baseName + op.className )
		block
		if op.before == true
			.group.is-before
				+beforeGroup()
		.group.is-primary
			+primaryGroup()
		if op.after == true
			.group.is-after
				+afterGroup()
		
